<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Omdb Movies My Bookmarks</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/scripts/bookmarks_script.js"></script>
        <script src="/scripts/populateList.js"></script>
        <script src="/scripts/account_script.js"></script>
    </head>
    <body onload="showBookmarks()">
        <div class="menu">
            <a href="/"><button class="menu_button" style="font-size: 19px;">Home</button></a>
            <% if (loggedIn) { %>
                <a href="/bookmarks"><button class="menu_button" style="font-size: 19px;">My Bookmarks</button></a>
                <a id="login" class="login""><button class="login" onclick="javascript:logout()" style="font-size: 19px;">Log Out</button></a>
            <% } else { %>
                <a id="login" class="login" href="/login"><button class="login" style="font-size: 19px;">Log In</button></a>
                <a id="signup" class="signup" href="/register"><button class="signup" style="font-size: 19px;">Sign Up</button></a>
            <% } %>
        </div>
        
        <div id="results_list"></div>  
    </body>
</html>