<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="scripts/index_script.js"></script>
    </head>
    <body>
        <div class="menu">
            <a href="/"><button class="menu_button" style="font-size: 19px;">Home</button></a>
            <a href="/bookmarks"><button class="menu_button" style="font-size: 19px;">My Bookmarks</button></a>
            <a class="login" href="/login"><button class="login" style="font-size: 19px;">Login</button></a>
        </div>

        <div class="search">
            <form>
                <input type="search" id="search" name="search" class="searchInput"
                    size="50" maxlength="50"
                    placeholder="Search movies.." oninput="searchFunction()">
            </form>
        </div>
        
        <div id="results_list"></div>  
    </body>
</html>