* {
    background-color: white;
    color: black;
    font-size: 18px;
}

a:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    background-color:
            blanchedalmond;
    border: 2px solid #1F1F1F;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    /* font-size: 20px; */
}

.menu > a {
    background-color: #1F1F1F;
    border: slateblue;
    margin-right: 1px;
}

.menu_button {
    background: cornflowerblue;
    color: white;
    font-size: 20px;
}

.login {
    background-color: lightseagreen;
    color: white;
    margin-left: auto;
    font-size: 20px;
}



.search {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

.searchInput {
    color: black;
    background: white;
    border: 4px solid #1F1F1F;
    height: 30px;
    font-size: 14px;
    padding: 15px;}



/* Login Page */
.form_background {
    margin-top: 5%;

    min-width: fit-content;display: grid;justify-content: center;}

.login_form {
    display: grid;
    justify-content: center;
    background-color: white;
    background: #1F1F1F;
    border-radius: 7px;
    padding: 120px;
    justify-items: center;
}

.formText {
    background: #1F1F1F;
    color: white;
    margin: auto;}

.form_item {
    color: #1F1F1F;
    background: white;
    height: 25px;
    padding: 2px;font-size: 14px;
}

.submit_button {
    background-color:
            slateblue;
    color:
            white;
    padding: 5px;
    width: 100%;
}

.submit_button:hover {
    transform: scale(1.05);
}

.github_button {
    height: 70px;
}